html {
  -webkit-text-size-adjust: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100%;
}
a {
  text-decoration: none;
  list-style: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --blue: #054aa9;
  --white: #ffffff;
  --black: #000000;
  --grey: #363636;
  --green: #2c8139;

  --max-width: 1500px;
  --navbar-height: 90px;
}

.no-margin {
  margin: 0;
}
.gameButton {
  border: 2px solid var(--grey);
  padding: 2px 20px;
  border-radius: 24px;
  text-align: center;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(82, 78, 78, 0.5);
  backdrop-filter: blur(1px);
  z-index: 1;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
